body {
  background-image: url(image.jpg);
  background-size: cover;
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#container {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}

form {
  display: flex;
  justify-content: space-between;
}

#userInput {
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

#add-btn {
  padding: 10px;
  font-size: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

#task-container {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 100vh;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.done-btn {
  margin-right: 10px;
  cursor: pointer;
}

.task span {
  flex-grow: 1;
  margin-right: 10px;
}

.task .delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.task .delete-btn i {
  font-size: 16px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
